@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("☺"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: lato, sans-serif;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  letter-spacing: 0.16em;
  font-weight: 700;
}
.title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 82px;
  height: 1px;
  background: black;
  margin: 0 0 0 -44px;
}

.hello-block {
  width: 100%;
  min-height: 100vh;
  background: url("../img/background/bg.jpg") no-repeat center/cover;
  background-position: center;
  padding: 133px 0 153px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hello-block__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hello-block__logo {
  margin: 0 0 150px 0;
}

.hello-block__title {
  font-weight: 900;
  color: white;
  padding: 0 0 47px 0;
  margin: 0 0 226px 0;
}
.hello-block__title span {
  display: inline-block;
  font-family: lato, sans-serif;
  font-size: 26px;
  letter-spacing: 0.16em;
  font-weight: normal;
  text-transform: none;
}

.title_big-after::after {
  width: 106px;
  height: 2px;
  background: white;
  margin: 0 0 0 -53px;
}

.link {
  display: block;
  width: 182px;
  height: 47px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 45px;
  letter-spacing: 0.04em;
  text-align: center;
}

.hello-block__link {
  border: 1px solid white;
  color: white;
  position: relative;
}
.hello-block__link:visited {
  color: white;
}
.hello-block__link::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 10px;
  background: url("../img/icons/Arrow-down.png") no-repeat;
  left: 50%;
  bottom: -75px;
  margin: 0 0 0 -8px;
}

.header {
  height: 60px;
  border-bottom: 1px solid #f2f2f2;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  height: 100%;
}

.nav__list {
  font-size: 15px;
  font-weight: 700;
  color: #3c3c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.header__item:not(:last-child) {
  margin: 0 45px 0 0;
}

.nav__item {
  position: relative;
}
.nav__item::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -23px;
  height: 1px;
  background: #ada074;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav__item:hover {
  color: #ada074;
}
.nav__item:hover::after {
  left: 0;
  right: 0;
}
.nav__item a:visited, .nav__item a {
  color: inherit;
}

.about {
  padding: 130px 0 95px 0;
}

.about__top {
  max-width: 688px;
  margin: 0 auto 70px;
}

.about__title {
  padding: 0 0 35px 0;
  margin: 0 0 35px 0;
}

.title_lts {
  letter-spacing: 0.26em;
}

.about__subtitle {
  color: #868585;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
}

.about__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__card {
  width: 286px;
  text-align: center;
}
.about__card:not(:last-child) {
  margin: 0 21px 0 0;
}

.about__image {
  width: 92px;
  height: 92px;
  border: 2px solid #f4f4f4;
  border-radius: 50%;
  margin: 0 auto 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__card-title {
  font-size: 22px;
  letter-spacing: 0.16em;
  margin: 0 0 30px 0;
}

.about__card-text {
  color: #868585;
  line-height: 26px;
  font-weight: 300;
}

.portfolio {
  background: #f3f3f3;
  padding: 107px 0 62px 0;
}

.portfolio__title {
  padding: 0 0 40px 0;
  margin: 0 0 50px 0;
}

.portfolio__nav {
  margin: 0 0 138px 0;
}

.portfolio__nav-item:not(:last-child) {
  margin: 0 50px 0 0;
}

.portfolio__grid {
  margin: 0 -103px 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid__column:not(:last-child) {
  margin: 0 30px 0 0;
}

.grid__img-template {
  width: 538px;
  height: 365px;
  background: #eaeaea;
}
.grid__img-template:not(:last-child) {
  margin: 0 0 16px 0;
}

.portfolio__link {
  border: 1px solid black;
  color: black;
}
.portfolio__link:visited {
  color: black;
}

.partners {
  background: url("../img/background/bg-mini.jpg") no-repeat center/cover;
  background-position: center;
  height: 389px;
  padding: 100px 0 104px 0;
}

.partners__title {
  color: white;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 0 0 90px 0;
}

.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__image:not(:last-child) {
  margin: 0 100px 0 0;
}

.contact {
  padding: 183px 0 102px 0;
}

.contact__title {
  padding: 0 0 46px 0;
  margin: 0 0 120px 0;
}

.contact__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form {
  width: 383px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 83px 0 0;
  padding: 7px 0 0 0;
}

.form__item:nth-child(1) {
  margin: 0 60px 75px 0;
}
.form__item:nth-child(2) {
  margin: 0 0 75px 0;
}

.form__title {
  font-weight: 700;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 0 18px 0;
}

.form__input {
  width: 161px;
  height: 35px;
  padding: 0 8%;
  border-top: 1px solid black;
  background: #f8f7f7;
}

.form__input_big {
  width: 383px;
  height: 118px;
  resize: none;
  padding: 3% 3%;
  margin: 0 0 42px 0;
  font-size: inherit;
}

.contact__submit {
  background: transparent;
  text-transform: uppercase;
  margin: 0 0 0 auto;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 14px;
}

.contact__text {
  max-width: 252px;
  font-weight: 300;
  line-height: 26px;
  margin: 0 0 35px 0;
}

.contact__name {
  font-weight: 700;
  margin: 0 0 25px 0;
}

.contact__social {
  margin: 0 0 15px 0;
}
.contact__social a {
  display: inline-block;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 2px solid #1e1e1e;
}
.contact__social a:not(:last-child) {
  margin: 0 12px 0 0;
}

.contact__github {
  background: url("../img/icons/github.png") center/15px no-repeat;
}

.contact__in {
  background: url("../img/icons/in-icon.png") 55% 45% no-repeat;
}

.contact__email span {
  font-weight: 300;
}
.contact__email a {
  font-weight: 700;
  color: black;
}
.contact__email a:visited {
  color: black;
}

.footer {
  background: #3c3c3c;
  padding: 48px 0 49px 0;
}

.footer__logo {
  margin: 0 0 41px 0;
}

.footer__nav {
  margin: 0 0 34px 0;
}

.footer__nav-list {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
}

.footer__item::after {
  height: 0;
}
.footer__item:not(:last-child) {
  margin: 0 30px 0 0;
}

.copyright {
  font-family: MyriadPro, sans-serif;
  color: #6c6c6c;
  text-align: center;
}

.projects {
  max-width: 1251px;
  padding: 100px 0 78px 0;
}

.projects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projects__row:not(:last-child) {
  margin: 0 0 30px 0;
}

.row__screen {
  max-width: 814px;
  margin: 0 16px 0 0;
}

.row__about {
  max-width: 421px;
  padding: 54px 50px 35px 37px;
  background: #f2f2f2;
}

.row__title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  margin: 0 0 30px 0;
}

.row__text {
  color: #595757;
  font-weight: 300;
  line-height: 26px;
}
.row__text:not(p:last-of-type) {
  margin: 0 0 25px 0;
}
.row__text:last-of-type {
  margin: 0 0 40px 0;
}

.row__link {
  margin: 0;
  letter-spacing: 0.06em;
  color: #242424;
  border: 1px solid #232323;
}